# dtv jellyservice
type jellyservice, domain;
type jellyservice_exec, exec_type, file_type;

init_daemon_domain(jellyservice)

binder_use(jellyservice)

#jellyservice deliver data from chip to dtv application.
binder_call(jellyservice, appdomain)

#jellyservice using the surfaceflinger to capture the screen for AppWidget feature.
binder_call(jellyservice, surfaceflinger)

# Mark a domain as being a Binder service domain.
binder_service(jellyservice)

#if device type for "dev/isdbt" file is created, jellyservice also need to permissions to access that type.
allow jellyservice isdbt_device:chr_file rw_file_perms;

allow jellyservice app_data_file:dir rw_file_perms;
allow jellyservice app_data_file:dir search;
allow jellyservice app_data_file:file rw_file_perms;

allow jellyservice dtv_service:service_manager add;
allow jellyservice dtv_service:service_manager find;
