allow untrusted_app adb_device:chr_file getattr;
allow untrusted_app audio_device:dir getattr;
allow untrusted_app block_device:dir { open read };
allow untrusted_app console_device:chr_file getattr;
allow untrusted_app device:chr_file { getattr ioctl open read write };
allow untrusted_app device:dir { open read };
allow untrusted_app device:file getattr;
allow untrusted_app dm_device:chr_file getattr;
allow untrusted_app fscklogs:dir getattr;
allow untrusted_app full_device:chr_file getattr;
allow untrusted_app fuse_device:chr_file getattr;
allow untrusted_app graphics_device:dir getattr;
allow untrusted_app input_device:dir getattr;
allow untrusted_app mtp_device:chr_file getattr;
allow untrusted_app pmsg_device:chr_file getattr;
allow untrusted_app ppp_device:chr_file getattr;
allow untrusted_app rootfs:dir { open read };
allow untrusted_app rootfs:file getattr;
allow untrusted_app rtc_device:chr_file getattr;
allow untrusted_app uhid_device:chr_file getattr;
allow untrusted_app unlabeled:dir getattr;
