# ==============================================
# MTK Policy Rule
# ============

# Date : WK14.XX
# Operation : Migration
# Purpose : for exec labels defined by mtk
#allow shell ppl_agent_exec:file rx_file_perms;

